.button {
  cursor: pointer;
  border: 1px solid grey;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  vertical-align: middle;
  border-radius: 5px;
  height: 29px;
    color: white;
    font-size: larger;
    font-weight: bold;
}

.button-active {
  background: #cedd81;
}

.button-passive {
  background-color: #faafa0;
}