.species_wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.species-active {
  background-color: aqua;
}

.hidden {
  /* display: none; */
  visibility: hidden;
}

.visible {
  /* display: block; */
  visibility: visible;
}

.choose_wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

@media (max-width: 750px) {
  .choose_wrapper {
    flex-direction: column;
  }
}

.end_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  background: #fae9e7;
  width: 100vw;
  height: 100%;
  top: 0;
  overflow: hidden;
}

.end_wrapper-hidden {
  display: none;
}

.end_image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.end_image-hidden {
  display: none;
}